body {
	margin: 0px;
	padding: 0px;
}


#navbar {
	width: 100%;
	background-color: white;
	box-shadow: 0px 5px 5px #afc4be;
	height: 80px;
	margin: 0px;
}

#bg {
	
	margin-bottom: 0px;
	margin-top: 2px;
	width: 100%;
	height: 575px;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
	background-color: blue;

}

.bg-img {
	width: 100%;
	height: 575px;
	padding:0px;
	margin: 0px;
	position: relative;
}

.button1 {
	font-family: "Oxygen",sans-serif;
	position: relative;
	text-align: center;
	padding-top: 2px;
	width: 150px;
	height: 25px;
	border-radius: 6px;
	margin-top: 20px;
	background-color:white;
	float: left;
	border: 1.2px solid black;
	display: block;
	margin-left: 15px;
	color:black;
	box-shadow: 0px 1px 2px #cfd4d2;
	font-size: .8em;

}

.logo-bg {
	width: 500px;
	background-color: white;
	
	
	background-repeat: no-repeat;
	height: 60px;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	

}
.logo {
	width: 50%;
	height: 70px;
	margin-left: 0px;
	opacity: 250%;
	
}



.button3-bg {
	font-family: "Oxygen",sans-serif;
	float: right;
	width: 100px;
	background-color: white;
	text-align: center;
	color: #036cff;
	height: 30px;
	position: relative;
	top:-5px;
	right: 2px;
	margin-top: -40px;
	font-size: .95em;
	border-radius: 10px;
	padding-top: 5px;
}


.button2-bg {
	font-family: "Oxygen",sans-serif;

	float: right;
	width: 115px;
	height: 30px;
	color: #036cff;
	background-color: white;
	text-align: center;
	
	padding-top: 5px;
	border-radius: 11px;

	margin-top:-40px; 
	position: absolute;
	top:65px;
	right: 102.5px;
	font-size: .95em;
	
}


.button1:hover {
	background-color: #f4f2f2;
	box-shadow: 0px 2px 5px #dedede;
	border:.01vw solid black;
}
.button2-bg:hover, .button3-bg:hover {
	background-color: #f2f2f2;
	box-shadow: 0px 2px 5px #dedede;
}


.head1 {
	text-align: center;
	font-size: 1.3em;
	color:#b2e5eb;
	font-family: 'Oxygen', sans-serif;
	width:500px;
	position: absolute;
	
	top: 200px;
	left:50px;

}

.head2 {
	position: absolute;
	top:350px;
	font-family:  'Oxygen', sans-serif;
	font-size: 1.5em;
	width: 500px;
	text-align: center;
	color:#b2e5eb;
	margin-left: 25px;
}

.lastbut {
	font-family: "oxygen",sans-serif;
	text-align: center;
	width: 50%;
	height: 50px;
	position: absolute;
	bottom:20px;
	
	margin-left: 10px;

}

.last1 {
	box-sizing: border-box;
	width:40%;
	color: #b2e5eb;
	background-color: blue;
	float: left;
	height: 50px;
	padding-top: 15px;
	margin-right: 15px;
	border-radius: 10px;
}

.last2 {
	box-sizing: border-box;
	width:35%;
	color: #b2e5eb;
	background-color: blue;
	
	float: left;
	height: 50px;
	padding-top: 15px;
	border-radius: 10px;
}

.last1:hover {
	background-color: #78b0ff;
	color: white;
	padding-top: 14px;


}
.last2:hover {
	padding-top: 14px;
	background-color: #5c92ff;
	color: white;


}
@media (min-width: 993px) {
	.head1-sd {
		display: none;
	}
}
@media (min-width:768px ) and (max-width: 992px) {
	.head1-sd {
		display: none;
	}
	.head1{
		font-size: 1em;
		left: -20px;
	}
	.head2 {
		font-size: 1.3em;
		left:-40px;
		top: 330px;

	}
	.lastbut {
		width: 60%;
	}
	.last2 {
		
		font-size: .9em;
	}
	.last1 {
		
		font-size: .9em;
	}

}

@media (min-width: 425px) and (max-width: 767px) {
	.head1-sd {
		display: none;
	}
	.button1 {
		display: none;
	}
	.logo-bg {
		position: absolute;
		width:50%;
		height: 70px;
		background-color: white;
		padding-left: 10px;

	}
	.logo {
		background-color: red;

		width:100%;
		
		margin-right: auto;
	}

	.button3-bg {
		
		
		top: 68px;
		right: -15px;
	}
	.button2-bg {
		width: 70px;
		font-size: .7em;
		height: 40px;
		right: 75px;
	}
	.head1{
		font-size: .75em;
		left:-100px;
		top:350px;
	}

	.head2 {
		font-size: .8em;
		width: 65%;
		font-weight: bold;
		left: -15px;
		top:450px;

	}
	.lastbut {
		width:70%;
		top:520px;
		left: 20px;
	}
	.last1, .last2 {
		height: 35px;
		font-size: .8em;

	}
	.last1 {
		width: 50%;
		padding: 2px;
		padding-left: 5px;

	}
	.last2 {
		padding: 2px;
		padding-top: 2px;
	}

}
@media (min-width: 375px) and (max-width: 424px){
	.head1-sd {
		display: none;
	}
	.button1 {
		display: none;
	}
	.logo-bg {
		position: absolute;
		width:50%;
		height: 70px;
		background-color: white;
		padding-left: 10px;

	}
	.logo {
		background-color: red;

		width:100%;
		
		margin-right: auto;
	}

	.button3-bg {
		
		
		top: 68px;
		right: -15px;
	}
	.button2-bg {
		width: 70px;
		font-size: .7em;
		height: 40px;
		right: 75px;
	}
	.head1{
		font-size: .68em;
		left:-125px;
		top:350px;
	}

	.head2 {
		font-size: .8em;
		width: 65%;
		font-weight: bold;
		left: -25px;
		top:435px;

	}
	.lastbut {
		width:65%;
		top:520px;
		left: 0px;
	}
	.last1, .last2 {
		height: 35px;
		font-size: .8em;

	}
	.last1 {
		width: 50%;
		padding: 2px;
		padding-left: 5px;

	}
	.last2 {
		padding: 2px;
		padding-top: 2px;
	}
	}




@media (max-width: 374px) {
	.button1{
		display: none;
	}
	.logo-bg {
		position: absolute;
		width:50%;
		height: 70px;
		background-color: white;
		padding-left: 10px;

	}
	.logo {
		background-color: red;

		width:100%;
		
		margin-right: auto;
	}

	.button3-bg {
		
		
		top: 68px;
		right: -15px;
	}
	.button2-bg {
		width: 70px;
		font-size: .7em;
		height: 40px;
		right: 75px;
	}
	.head1{
		display: none;
		}
	.head1-sd {
		text-align: left;
	font-size: .75em;
	color:#b2e5eb;
	font-family: 'Oxygen', sans-serif;
	width:50%px;
	height: 200px;
	position: absolute;
	
	bottom: 150px;
	left:25px;


	}

	.head2 {
		display: none;
		

	}
	.lastbut {
		width:70%;
		top:420px;
		left: -7px;
	}
	.last1, .last2 {
		height: 35px;
		font-size: .8em;

	}
	.last1 {
		width: 50%;
		padding: 2px;
		padding-left: 5px;


	}
	.last2 {
		padding: 2px;
		margin-left: -10px;
		padding-top: 2px;
	}
	#bg{
		height: 560px;
	}

}