body {
	font-size: 16px;
	background: url("images/jumbo1.jpg");
	background-size: 90%; 
	background-color: #e61c1c;
	font-family: "Oxygen", sans serif;

}

#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
}
.logoedit {
	overflow: hidden;
	width:340px;
	height: 90px;
	margin-left: auto;
	
	padding-left:auto;
}
.logo {
	height: 90px;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a{
	color: orange;
	text-align: center;
}
#nav-list a:hover {
	background: orange;
	color: black;
}
#nav-list a span {
	font-size: 1.5em;

}
#nav-list #phone:hover, #nav-list #phone #call:hover{
	color: black;
}


#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0px;
}
#phone div {
	color: orange;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button {
	padding-top: 10px;
}
.navbar-header button.navbar-toggle {
	margin-top: 27px;

}
.navbar-header button.navbar-toggle:focus {
	background-color: black;


}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid orange;
}

#nav-list a {
	font-size: 1em;
	margin-left: 2px;
}
#nav-list a span {
	font-size: 1em;
	

	}
#tile1, #tile2, #tile3 {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	box-shadow: 0px 0px 5px black;
}

#tile1:hover, #tile2:hover, #tile3:hover {
	box-shadow: 0px 0px 10px  black;
}

#tiles span {
	color: orange;
	font-size: 1.4em;
	font-weight: bold;
	background-color: black;
	opacity: .7;
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: center;
	width: 100%;
	height: 40px;
}
 #tile1 {
 	background: url("images/menutile.jpg") no-repeat;
 	background-position: center;

 }
 #tile2 {
 	background: url("images/special.jpg") no-repeat;
 	background-position: center;

 }
 .panel-footer {
 	box-shadow: 0 -1px 2px black;
 	margin-top: 30px;
 	padding-top: 35px;
 	padding-bottom: 30px;
 	background-color: #222;
 	border-top: 0;
 	color: grey;
 }
 footer span {
 	font-size: 1.4em;
 }
 .panel-footer div.row {
 	margin-bottom: 30px;
 }

 #hours, #address {
 	line-height: 1.8em;
 }
 #testimonials {
 	margin-top: 20px;

 	font-style: italic;
 }
 #address p {
 	color: #557c3e;
 	font-size: .9em;
 	line-height: 1.8;
 }

 #testimonials p:nth-child(2) {
 	margin-top: 25px;
 }
/*Menucategories*/
#menucat-title {
	font-family: "Oxygen";
	font-weight: bold;
	font-size: 2.5em;
	text-decoration-line: underline;
}
.category-tile {
	text-decoration: none;
	position: relative;
	border: 1px solid black;
	overflow: hidden;
	margin: 0 auto 15px;
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
.category-tile span {
	color: white;
	background-color: black;
	opacity: .7;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
}
.category-tile:hover {
	box-shadow: 0 0px 10px  black;
}
#menucat-title {
	margin-bottom: 50px;
}
/*Media queries*/

@media (min-width: 1440px) {
	.logoedit {
		margin-left: -80px;
	}
	#collapsable-nav {
		margin-right: -80px;
	}
	#nav-list li {
		padding-right: 20px;
	}
	
	#nav-list a {
		font-size: 1.4em;
	}
	#main-content {
		width: 1400px;
		height:970px;
		
		margin-left: auto;
		margin-right: auto;
	}
	.jumbotron {
		background: url("images/bg-1400b.jpg") no-repeat;
		width: 100%;
		height: 682px;
		box-shadow: 0px 0px 50px black;
		
	}
}
@media (min-width: 1301px) and (max-width: 1439px) {
	#nav-list a {
		font-size: 1.2em;
		 
	}
	#main-content {

		width: 1290px;
		height: 900px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1400b.jpg") no-repeat;
		width:99.9%;
		height: 600px;
		box-shadow: 0px 0px 50px black;
		
	}
}
@media (min-width: 1024px) and (max-width: 1300px) {
	#nav-list a {
		font-size: 1.2em;
		 
	}
	#main-content {

		width: 1000px;
		height: 900px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1404.jpg") no-repeat;
		width:99.9%;
		height: 600px;
		box-shadow: 0px 0px 50px black;
		
	}
}
@media	(min-width: 992px) and (max-width: 1023) {
	.logoedit {
		width:300px;
	}
	.logo {
		width:80%;
		height: 70px;
		margin-top: 10px;
	}
	#main-content {

		width: 750px;
		height: 1045px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1404.jpg") no-repeat;
		width:99.9%;
		height: 482px;
		box-shadow: 0px 0px 50px black;
		
	}
}
		

@media (min-width: 768px) and (max-width: 991px) {
	.logoedit {
		width:300px;
	}
	.logo {
		width:80%;
		height: 70px;
		margin-top: 10px;
	}
	#main-content {

		width: 750px;
		height: 1045px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1404.jpg") no-repeat;
		width:99.9%;
		height: 482px;
		box-shadow: 0px 0px 50px black;
		
	}

}


@media (min-width: 425px) and (max-width: 767px) {
	.logoedit {
		width: 270px;
	}
	.logo {
		width: 90%;
		height: 70px;
		margin-top: 10px;
		margin-left: 10px;
	}
	#main-content {

		width: 430px;
		height: 1220px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1404.jpg") no-repeat;
		background-position: center;
		width:99.9%;
		height: 390px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;
		
	}
	#menucat-title {
		font-size: 2em;
	}
	.category-tile {
		
		width: 190px;
		height: 190px;
	}

}

@media (min-width: 375px) and (max-width: 424px) {
	.logoedit {
		width: 250px;
	}
	.logo {
		width:90%;
		height: 65px;
		margin-top: 10px;
		margin-left: 10px;
	}
	#main-content {

		width: 370px;
		height: 2050px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-375.jpg") no-repeat;
		width:99.9%;
		height: 250px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}
	#menucat-title {
		font-size: 2em;
	}
	.category-tile {
		width: 200px;
		height: 200px;
	}
.col-xxs-12 {
		width: 100%;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
		position: relative;
	}
}
@media (min-width: 320px) and (max-width: 374px) {
	.logoedit {
		width: 230px;
	}
	.logo {
		width:90%;
		height: 60px;
		margin-top: 14px;
		margin-left: 10px;	
}
	#main-content {

		width: 310px;
		height: 2050px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-375.jpg") no-repeat;
		width:99.9%;
		height: 250px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}
	#menucat-title {
		font-size: 2em;
	}
.col-xxs-12 {
		width: 100%;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
		position: relative;
	}
}

@media (min-width: 279px) and (max-width:319px) {
	.logoedit {
		width: 220px;
	}
	.logo {
		width:80%;
		height: 50px;
		margin-top: 20px;
		margin-left: auto;
		padding-left: 10px;

}
	#main-content {

		width: 280px;
		height: 2080px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-250.jpg") no-repeat;
		width:99.9%;
		height: 187px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}
	#menucat-title {
		font-size: 2em;
	}
.col-xxs-12 {
		width: 100%;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
		position: relative;
	}

}

@media (max-width: 278px) {
	.logoedit {
		width: 215px;
	}
	.logo {
		width:90%;
		height: 50px;
		margin-top: 20px;
		margin-left: auto;
		padding-left: 10px;

}
	#main-content {
		width: 270px;
		height: 2100px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-250.jpg") no-repeat;
		width:99.9%;
		height: 187px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}
	#menucat-title {
		font-size: 2em;
	}
.col-xxs-12 {
		width: 100%;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
		position: relative;
	}
	
}
@media (min-width: 425px) and (max-width: 767px) {
	#tile1, #tile2, #tile3 {
		width: 300px;
		margin: 0px auto 15px;
	}
	.panel-footer section {
		text-align: center;
		margin-bottom: 30px;
	}
	.panel-footer section:nth-child(3) {
		margin-bottom: 0;
	}
	hr {
		width: 50%;
	}


}

@media (min-width: 375px) and (max-width: 424px) {
	#tile1, #tile2, #tile3 {
		width: 280px;
		height: 200px;
		margin: 0px auto 15px;
	}
		.panel-footer section {
		text-align: center;
		margin-bottom: 30px;
	}
	.panel-footer section:nth-child(3) {
		margin-bottom: 0;
	}
	hr {
		width: 50%;
	}
	
}
@media (max-width: 374px) {
	#tile1, #tile2, #tile3 {
		width: 250px;
		height: 200px;
		margin: 0px auto 15px;
	}
	.panel-footer section {
		text-align: center;
		margin-bottom: 30px;
	}
	.panel-footer section:nth-child(3) {
		margin-bottom: 0;
	}
	hr {
		width: 50%;
	}
}






















