body {
	font-size: 16px;
	background: url("images/jumbo1.jpg");
	background-size: 100%; 
	background-color: #e61c1c;
	font-family: "Oxygen", sans serif;

}

#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
}
.logoedit {
	overflow: hidden;
	width:340px;
	height: 90px;
	margin-left: auto;
	
	padding-left:auto;
}
.logo {
	height: 90px;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a{
	color: orange;
	text-align: center;
}
#nav-list a:hover {
	background: orange;
	color: black;
}
#nav-list a span {
	font-size: 1.5em;

}
#navlist a span:hover {
	overflow: hidden;
	color: black;
}

}
#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0px;
}
#phone div {
	color: blue;
	text-align: right;
	padding-right: 15px;
}
.navbar-header button.navbar-toggle {
	margin-top: 27px;

}
.navbar-header button.navbar-toggle:focus {
	background-color: black;


}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid orange;
}

#nav-list a {
	font-size: 1em;
	margin-left: 2px;
}
#nav-list a span {
	font-size: 1em;
	

	}


/*Media queries*/
@media (min-width: 1024px) and (max-width: 1399px) {
	#nav-list a {
		font-size: 1.2em;
	}
}
@media (min-width: 1400px) {
	.logoedit {
		margin-left: -80px;
	}
	#collapsable-nav {
		margin-right: -80px;
	}

	#nav-list li {
		padding-right: 20px;
	}
	
	#nav-list a {
		font-size: 1.4em;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.logoedit {
		width:300px;
	}
	.logo {
		width:80%;
		height: 70px;
		margin-top: 10px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.logoedit {
		width: 270px;
	}
	.logo {
		width: 90%;
		height: 70px;
		margin-top: 10px;
		margin-left: 10px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.logoedit {
		width: 250px;
	}
	.logo {
		width:90%;
		height: 65px;
		margin-top: 10px;
		margin-left: 10px;
	}



}
@media (min-width: 320px) and (max-width: 374px) {
	.logoedit {
		width: 230px;
	}
	.logo {
		width:90%;
		height: 60px;
		margin-top: 14px;
		margin-left: 10px;	
}
}

@media (min-width: 279px) and (max-width:319px) {
	.logoedit {
		width: 220px;
	}
	.logo {
		width:80%;
		height: 50px;
		margin-top: 20px;
		margin-left: auto;
		padding-left: 10px;

}

}

@media (max-width: 278px) {
	.logoedit {
		width: 215px;
	}
	.logo {
		width:90%;
		height: 50px;
		margin-top: 20px;
		margin-left: auto;
		padding-left: 10px;

}
	
}


























