body {
	font-size: 16px;
	background: url("images/jumbo1.jpg");
	background-size: 90%; 
	background-color: #e61c1c;
	font-family: "Oxygen", sans serif;

}

#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
}
.logoedit {
	overflow: hidden;
	width:340px;
	height: 90px;
	margin-left: auto;
	
	padding-left:auto;
}
.logo {
	height: 90px;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a{
	color: orange;
	text-align: center;
}
#nav-list a:hover {
	background: orange;
	color: black;
}
#nav-list a span {
	font-size: 1.5em;

}
#navlist a span:hover {
	overflow: hidden;
	color: black;
}

}
#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0px;
}
#phone div {
	color: blue;
	text-align: right;
	padding-right: 15px;
}
.navbar-header button.navbar-toggle {
	margin-top: 27px;

}
.navbar-header button.navbar-toggle:focus {
	background-color: black;


}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid orange;
}

#nav-list a {
	font-size: 1em;
	margin-left: 2px;
}
#nav-list a span {
	font-size: 1em;
	

	}
#tile1, #tile2, #tile3 {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	box-shadow: 0px 0px 5px black;
}

#tile1:hover, #tile2:hover, #tile3:hover {
	box-shadow: 0px 0px 10px  black;
}

.row span {
	color: orange;
	font-size: 1.4em;
	font-weight: bold;
	background-color: black;
	opacity: .7;
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: center;
	width: 100%;
	height: 40px;
}
 #tile1 {
 	background: url("images/menutile.jpg") no-repeat;
 	background-position: center;

 }
 #tile2 {
 	background: url("images/special.jpg") no-repeat;
 	background-position: center;

 }
/*Media queries*/

@media (min-width: 1440px) {
	.logoedit {
		margin-left: -80px;
	}
	#collapsable-nav {
		margin-right: -80px;
	}
	#nav-list li {
		padding-right: 20px;
	}
	
	#nav-list a {
		font-size: 1.4em;
	}
	#main-content {
		width: 1400px;
		height:700px;

		margin-left: auto;
		margin-right: auto;
	}
	.jumbotron {
		background: url("images/bg-1400b.jpg") no-repeat;
		width: 100%;
		height: 682px;
		box-shadow: 0px 0px 50px black;
		
	}
}
@media (min-width: 1301px) and (max-width: 1439px) {
	#nav-list a {
		font-size: 1.2em;
		 
	}
	#main-content {

		width: 1290px;
		height: 610px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1400b.jpg") no-repeat;
		width:99.9%;
		height: 600px;
		box-shadow: 0px 0px 50px black;
		
	}
}
@media (min-width: 1024px) and (max-width: 1300px) {
	#nav-list a {
		font-size: 1.2em;
		 
	}
	#main-content {

		width: 1000px;
		height: 610px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1404.jpg") no-repeat;
		width:99.9%;
		height: 600px;
		box-shadow: 0px 0px 50px black;
		
	}
	
		
}
@media (min-width: 768px) and (max-width: 1023px) {
	.logoedit {
		width:300px;
	}
	.logo {
		width:80%;
		height: 70px;
		margin-top: 10px;
	}
	#main-content {

		width: 750px;
		height: 492px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1404.jpg") no-repeat;
		width:99.9%;
		height: 482px;
		box-shadow: 0px 0px 50px black;
		
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.logoedit {
		width: 270px;
	}
	.logo {
		width: 90%;
		height: 70px;
		margin-top: 10px;
		margin-left: 10px;
	}
	#main-content {

		width: 430px;
		height: 400px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-1404.jpg") no-repeat;
		background-position: center;
		width:99.9%;
		height: 390px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;
		
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.logoedit {
		width: 250px;
	}
	.logo {
		width:90%;
		height: 65px;
		margin-top: 10px;
		margin-left: 10px;
	}
	#main-content {

		width: 370px;
		height: 270px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-375.jpg") no-repeat;
		width:99.9%;
		height: 250px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}
}
@media (min-width: 320px) and (max-width: 374px) {
	.logoedit {
		width: 230px;
	}
	.logo {
		width:90%;
		height: 60px;
		margin-top: 14px;
		margin-left: 10px;	
}
	#main-content {

		width: 310px;
		height: 270px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-375.jpg") no-repeat;
		width:99.9%;
		height: 250px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}
}

@media (min-width: 279px) and (max-width:319px) {
	.logoedit {
		width: 220px;
	}
	.logo {
		width:80%;
		height: 50px;
		margin-top: 20px;
		margin-left: auto;
		padding-left: 10px;

}
	#main-content {

		width: 280px;
		height: 195px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-250.jpg") no-repeat;
		width:99.9%;
		height: 187px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}

}

@media (max-width: 278px) {
	.logoedit {
		width: 215px;
	}
	.logo {
		width:90%;
		height: 50px;
		margin-top: 20px;
		margin-left: auto;
		padding-left: 10px;

}
	#main-content {
		width: 270px;
		height: 195px; 
		margin-right: auto;
		margin-left: auto;
	}
	.jumbotron {
		background: url("images/bg-250.jpg") no-repeat;
		width:99.9%;
		height: 187px;
		box-shadow: 0px 0px 50px black;
		margin-left: auto;
		margin-right: auto;

}
	
}
@media (min-width: 425px) and (max-width: 767px) {
	#tile1, #tile2, #tile3 {
		width: 300px;
		margin: 0px auto 15px;
	}
}

@media (max-width: 424px) {
	#tile1, #tile2, #tile3 {
		width: 170px;
		height: 170px;
		margin: 0px auto 15px;
	}
}























