body {
	font-size: 16px;
	color: #ff00;
	background-color: #e61c1c;
	font-family: "Oxygen", sans serif;
}

#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
}
.logoedit {
	overflow: hidden;
	width:340px;
	height: 90px;
	margin-left: auto;
	
	padding-left:auto;
}
.logo {
	height: 90px;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a{
	color: orange;
	text-align: center;
}
#nav-list a:hover {
	background: orange;
	color: black;
}
#nav-list a span {
	font-size: 1.5em;

}
#navlist a span:hover {
	overflow: hidden;
	width: 50px;
	color: black;
}

}
#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
#phone div {
	color: blue;
	text-align: right;
	padding-right: 15px;
}